.container{font-size: 0.3rem; background: #f1eded;  }
footer{ text-align: center;bottom: 0;position: fixed; border-top: 1px solid #eee;  height: 1rem;  font-size: 0; width: 100%; }
footer a { margin: 0.14rem 0.6rem 0 0.6rem;display: inline-block;vertical-align: top; }
footer .iconfont{ color: #666; font-size: 0.4rem }
footer a.item-active p{  color: #900000; }
footer a.item-active i{  color: #900000; }
footer a i img{ width: 0.48rem;height: 0.43rem; }
footer a p{    margin-top: 0.04rem; color: #999; font-size: 0.24rem;  }


.list{ margin-right: 0.2rem; margin-bottom: 0.2rem;display: inline-block;width: 3.42rem;border: 1px solid #ccc; }
.ysc{ overflow: hidden; }
.goods-detail{padding: 0.1rem 0 0.1rem 0.1rem; font-size: 0; background: #fff;}
.goods-detail .goods-name{ color: #333; vertical-align: middle; }
.list .goods-img,.goods-img img{height: 3.42rem;width: 3.42rem;}
.goods-name p{height: 0.6rem; overflow: hidden; line-height: 0.3rem;font-size: 0.2rem;}
.shop-name,.number{ display: inline-block; vertical-align: top; }
.goods-price{ font-size: 0.12rem; color: #900000; }
.goods-price span{font-size: 0.4rem; }

.hot-shop{ margin-top: .2rem; padding: 0.2rem; font-size: 0; }
.hotshop-list{ background: #fff;margin-bottom: 0.2rem; border: 1px solid #ccc; }
.shophot-detail{ padding:0.2rem; border-bottom: 1px solid #ccc; }
.hotshop-name{ margin-top: 0.25rem; margin-left: 0.2rem;line-height: 0.4rem; }
.hotshoplogo,.hotshop-name,.btn{ display: inline-block; vertical-align: top; }
.hotshoplogo,.hotshoplogo img{ border-radius: 50%; height: 1.2rem;width: 1.2rem; }
.hotshop-item{ margin: 0.1rem 0 1.2rem 0; }

.btn{ margin-top: 0.56rem; width: 1.4rem; font-size: 0.2rem; color: #e26826; border: 1px solid #e26826; text-align: center; height: 0.48rem; line-height: 0.48rem;  }
.snames{ font-size : 0.2rem; color: #333; }
.classify span,.classify em{ color: #999; font-size: 0.16rem;}
.classify em{ margin-left: 0.3rem;font-style: normal; }