header{ overflow: hidden; font-size: 0; height: 0.9rem; background: #990000;  }
.serach { font-size: 0; position: relative; }
.serach .icon-sousuo2{    font-size: 0.3rem; color: #666; position: absolute; left: 0.5rem;top: 0.3rem;}
.serach input{font-size: 0.3rem;padding-left: 0.6rem;border: none; outline: none; margin-top: 0.2rem;border-radius: 0.3rem; width: 4.8rem; height: 0.56rem; margin-left: 0.35rem; }
.sweep{margin: 0.3rem 0.4rem 0 0;}
.sweep .icon-saoma1{    font-size: 0.3rem; color: #fff;  }

img{ width: 100%; }

.banner{ height: 4rem; }

.category{ padding: 0.32rem 0; background: #fff; margin-bottom: 0.2rem; }
.category ul{ font-size: 0; text-align: center; }
.category ul li{ display: inline-block;vertical-align: top;margin:0.2rem 0.42rem 0.2rem 0.42rem;width: 1rem;}
.category ul li .item{margin: 0 auto; height: 0.9rem; width: 0.9rem; border-radius: 50%; }
.category ul li p{ color: #666; text-align: center; font-size: 0.14rem; margin-top: 0.1rem; }

 /*标题样式*/
.reco-text{ color: #e46600;}
.reco-text span{ background: #e46600; }
.hot-text{ color: #e40076; }
.hot-text span{ background: #e40076; }

.recommend{  padding-left: 0.15rem; }
.title{overflow: hidden; padding: 0.3rem 0.3rem 0.46rem 0;}
h1{ font-size: 0.16rem;}
h1 span{ height: 25px; width:10px;margin-right: 0.1rem;display: inline-block; vertical-align: middle; }
.more{color: #999; font-size: 0.16rem;}

.goods-detail .shoplogo,.goods-detail .shoplogo img{ border-radius: 50%; width: 0.8rem;height: 0.8rem; }
.goods-detail .goods-name{margin-left: 0.1rem; width: 2.25rem; }
.shoplogo,.goods-name{ float: left;  }

/*热门商铺css*/
.item{ position: relative; display: inline-block;vertical-align: top; margin: 0.14rem 0.1rem; }
.item .goods{ border: 1px solid #ccc; }
.item,.item img{ width: 2.1rem; height: 2.1rem; }
.goods span{ opacity: 0.9; text-align: center; width: 1.26rem;height: 0.46rem; line-height: 0.46rem; position: absolute;bottom: 0;right: 0; background: #000;color: #fff; font-size: 0.14rem;}

