*{ padding: 0;margin: 0; }
ul{ list-style: none; }
a{ text-decoration: none; }
html{font-size: 16px;}
.fl{ float: left; }
.fr{ float: right; }
.overflow{ overflow: hidden; }
.white{ background: #fff; }
body{ background: #f1eded; font-size:0.3rem;   letter-spacing: 0.04rem; }
h1, h2 {
  font-weight: normal;
  font-size:0.5rem;
}
